
<main class="h-screen w-screen">
    <div
        class="background h-screen w-screen absolute z-[-1] top-0 overflow-hidden ">
        <div class="blur blur1 bg-pixel-yellow"></div>
        <div class="blur blur2"></div>
        <div class="blur blur3"></div>
        <div class="blur blur4"></div>

        @for(square of squares; track $index){
        @if(square.exist){
        <div class="square bg-pixel-blue" [ngStyle]="{
                    bottom: square.top + 'px',
                    left: square.left + 'px',
                }"></div>
        }
        }
    </div>
    <div class="main-content">
        <router-outlet />
    </div>
</main>
